<!DOCTYPE html>
<html>
  <head>
    <title>Scup: Mock Http As You Want!</title>
    <%= favicon 'knife.png', rel: 'icon', type: 'image/png' %>
    <%= stylesheet 'materialize.min', 'highlight.default', 'base' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body class="grey lighten-5 font-chalkboard">
    <header>
    <nav class="top-nav light-green darken-1">
      <div class="nav-wrapper container">
        <a href="#" class="brand-logo">
          <%= image('knife.png', alt:'图片4', id: 'ard', class: 'nav-logo') %>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <!-- <li><a href="sass.html">Sass</a></li>
          <li><a href="badges.html">Components</a></li>
          <li><a href="collapsible.html">JavaScript</a></li> -->
        </ul>
      </div>
    </nav>
    </header>
    <%= yield %>
    <%= javascript 'jquery-3.1.0.min', 'materialize.min', 'highlight.pack', 'base' %>
  </body>
</html>
