<div class="row">
  <div class="col s6 offset-s3">
  	<h5>Congratulations! You have created an agreement successfully.</h5>
  	<p>Now, You send a <span><code class="javascript font-chalkboard font-rem-2"><%= agreement.http_method %></code></span> request to</p>
  	<pre><code class="javascript font-chalkboard font-rem-2">http://<%= domain %><%= agreement.url %></code></pre>
  	<p>You will get an response:</p>
  	<pre><code class="javascript font-chalkboard font-rem-2"><%= agreement.response %></code></pre>
  </div>
</div>

<div class="row">
<div class="col s6 offset-s3">
  <div class="col s4 offset-s1">
    <% if agreement.http_method.eql? 'GET' %>
      <a class="waves-effect waves-light btn btn-large light-green darken-1" href="/site/<%= agreement.url %>">Test It Now!</a>
    <% else %>
      <form method="<%= agreement.http_method %>" action="/site/<%= agreement.url %>">
        <button type="submit" class="waves-effect waves-light btn btn-large light-green darken-1">Test It Now!</button>
      </form>
    <% end %>
  </div>
  <div class="col s4 offset-s2">
    <a class="waves-effect waves-light btn btn-large light-green darken-1" href="../new">Create Another Agreement</a>
  </div>
  </div>
</div>